src/main/resources/lib/oklabi/schema/idmvu/4000/08_Telekommunikation.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:idmvu="http://schema.idmvu.org/4000/idmvu" xmlns:idmvu-basis="http://schema.idmvu.org/4000/idmvu-basis" xmlns:idmvu-typen="http://schema.idmvu.org/4000/idmvu-typen" elementFormDefault="qualified" targetNamespace="http://schema.idmvu.org/4000/idmvu" version="4.000.0">
  <include schemaLocation="idmvu.xsd"/>
  <import namespace="http://schema.idmvu.org/4000/idmvu-basis" schemaLocation="idmvu-basis.xsd"/>
  <import namespace="http://schema.idmvu.org/4000/idmvu-typen" schemaLocation="idmvu-typen.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="DynFahrgastinformationsanzeige" substitutionGroup="gml:AbstractFeature" type="idmvu:DynFahrgastinformationsanzeigeType"/>
  <complexType name="DynFahrgastinformationsanzeigeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Farbe" type="string"/>
          <element minOccurs="0" name="Inventarnummer" type="string"/>
          <element minOccurs="0" name="zuBikeUndRideAnlage" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuHaltepunkt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuParkUndRideAnlage" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="gehörtZuZugang" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Typ" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Anschrift" type="idmvu:AnschriftPropertyType"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
          <element name="zuLeitstelle" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuMast" type="idmvu-basis:ObjectRefType"/>
          <element name="zuSchaltschrank" type="idmvu-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DynFahrgastinformationsanzeigePropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:DynFahrgastinformationsanzeige"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Fernwirkanlage" substitutionGroup="gml:AbstractFeature" type="idmvu:FernwirkanlageType"/>
  <complexType name="FernwirkanlageType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Typ" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Bauart" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Betriebsweise" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Verkehrsart" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Betriebsart" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="zuLeistungsschalter" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuVerteilungUmformung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuWeichenheizung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuSteuerungsanlage" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuLeitungspunkt" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatAußenstation" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatZentralstation" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuAntenne" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuTrennschalter" type="idmvu-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FernwirkanlagePropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Fernwirkanlage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Funkstelle" substitutionGroup="gml:AbstractFeature" type="idmvu:FunkstelleType"/>
  <complexType name="FunkstelleType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Technik" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Frequenz" type="idmvu-typen:Megahertz"/>
          <element minOccurs="0" name="Art" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Funktion" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Bauart" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="zuLeitungspunkt" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verbundenMitFunkstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatVerbindungZuFunkstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatAntenne" type="idmvu-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FunkstellePropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Funkstelle"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Kamera" substitutionGroup="gml:AbstractFeature" type="idmvu:KameraType"/>
  <complexType name="KameraType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Farbe" type="string"/>
          <element minOccurs="0" name="Inventarnummer" type="string"/>
          <element minOccurs="0" name="zuBikeUndRideAnlage" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuHaltepunkt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuParkUndRideAnlage" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="gehörtZuZugang" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Bauart" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Nutzungsart" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="zuMast" type="idmvu-basis:ObjectRefType"/>
          <element name="zuSchaltschrank" type="idmvu-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KameraPropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Kamera"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Lautsprecher" substitutionGroup="gml:AbstractFeature" type="idmvu:LautsprecherType"/>
  <complexType name="LautsprecherType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Farbe" type="string"/>
          <element minOccurs="0" name="Inventarnummer" type="string"/>
          <element minOccurs="0" name="zuBikeUndRideAnlage" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuHaltepunkt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuParkUndRideAnlage" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="gehörtZuZugang" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Typ" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
          <element name="zuLeitstelle" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuMast" type="idmvu-basis:ObjectRefType"/>
          <element name="zuSchaltschrank" type="idmvu-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LautsprecherPropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Lautsprecher"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Meldeanlage" substitutionGroup="gml:AbstractFeature" type="idmvu:MeldeanlageType"/>
  <complexType name="MeldeanlageType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element name="Art" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Bauart" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="zuSteuerungsanlage" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuLeitungspunkt" type="idmvu-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MeldeanlagePropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Meldeanlage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Telefon" substitutionGroup="gml:AbstractFeature" type="idmvu:TelefonType"/>
  <complexType name="TelefonType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Farbe" type="string"/>
          <element minOccurs="0" name="Inventarnummer" type="string"/>
          <element minOccurs="0" name="zuBikeUndRideAnlage" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuHaltepunkt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuParkUndRideAnlage" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="gehörtZuZugang" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Typ" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Öffentlich" type="boolean"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="zuMast" type="idmvu-basis:ObjectRefType"/>
          <element name="zuSchaltschrank" type="idmvu-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TelefonPropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Telefon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Zugzielanzeiger" substitutionGroup="gml:AbstractFeature" type="idmvu:ZugzielanzeigerType"/>
  <complexType name="ZugzielanzeigerType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Farbe" type="string"/>
          <element minOccurs="0" name="Inventarnummer" type="string"/>
          <element minOccurs="0" name="zuBikeUndRideAnlage" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuHaltepunkt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuParkUndRideAnlage" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="gehörtZuZugang" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Typ" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="zuMast" type="idmvu-basis:ObjectRefType"/>
          <element name="zuSchaltschrank" type="idmvu-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ZugzielanzeigerPropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Zugzielanzeiger"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
