src/main/resources/lib/oklabi/schema/idmvu/4000/10_Betriebshoefe.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:idmvu="http://schema.idmvu.org/4000/idmvu" xmlns:idmvu-basis="http://schema.idmvu.org/4000/idmvu-basis" xmlns:idmvu-typen="http://schema.idmvu.org/4000/idmvu-typen" elementFormDefault="qualified" targetNamespace="http://schema.idmvu.org/4000/idmvu" version="4.000.0">
  <include schemaLocation="idmvu.xsd"/>
  <import namespace="http://schema.idmvu.org/4000/idmvu-basis" schemaLocation="idmvu-basis.xsd"/>
  <import namespace="http://schema.idmvu.org/4000/idmvu-typen" schemaLocation="idmvu-typen.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Absauganlage" substitutionGroup="gml:AbstractFeature" type="idmvu:AbsauganlageType"/>
  <complexType name="AbsauganlageType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Bauart" type="string"/>
          <element name="Substanz" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbsauganlagePropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Absauganlage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Arbeitsgrube" substitutionGroup="gml:AbstractFeature" type="idmvu:ArbeitsgrubeType"/>
  <complexType name="ArbeitsgrubeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Bauart" type="string"/>
          <element name="Ausführung" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Abdeckung" type="string"/>
          <element minOccurs="0" name="Tiefe" type="idmvu-typen:Meter"/>
          <element minOccurs="0" name="Breite" type="idmvu-typen:Meter"/>
          <element minOccurs="0" name="Länge" type="idmvu-typen:Meter"/>
          <element minOccurs="0" name="Belüftung" type="boolean"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoVolumen" type="gml:SolidPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ArbeitsgrubePropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Arbeitsgrube"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Dacharbeitsbühne" substitutionGroup="gml:AbstractFeature" type="idmvu:DacharbeitsbühneType"/>
  <complexType name="DacharbeitsbühneType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Bauart" type="string"/>
          <element name="Ausführung" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Spalt" type="idmvu-typen:Zentimeter"/>
          <element minOccurs="0" name="Höhe" type="idmvu-typen:Meter"/>
          <element minOccurs="0" name="Breite" type="idmvu-typen:Meter"/>
          <element minOccurs="0" name="Absturzsicherung" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="AusführungNotabstieg" type="string"/>
          <element minOccurs="0" name="SicherungNotabstieg" type="boolean"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoFläche" type="gml:SurfacePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DacharbeitsbühnePropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Dacharbeitsbühne"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Hebevorrichtung" substitutionGroup="gml:AbstractFeature" type="idmvu:HebevorrichtungType"/>
  <complexType name="HebevorrichtungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Bauart" type="string"/>
          <element minOccurs="0" name="Hubhöhe" type="idmvu-typen:Zentimeter"/>
          <element name="Ausführung" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HebevorrichtungPropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Hebevorrichtung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Krananlage" substitutionGroup="gml:AbstractFeature" type="idmvu:KrananlageType"/>
  <complexType name="KrananlageType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Bauart" type="string"/>
          <element name="maximaleLast" type="idmvu-typen:Kilogramm"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KrananlagePropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Krananlage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Maschine" substitutionGroup="gml:AbstractFeature" type="idmvu:MaschineType"/>
  <complexType name="MaschineType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Bauart" type="string"/>
          <element name="Ausführung" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MaschinePropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Maschine"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Reinigungsanlage" substitutionGroup="gml:AbstractFeature" type="idmvu:ReinigungsanlageType"/>
  <complexType name="ReinigungsanlageType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Bauart" type="string"/>
          <element name="Funktion" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReinigungsanlagePropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Reinigungsanlage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Tankanlage" substitutionGroup="gml:AbstractFeature" type="idmvu:TankanlageType"/>
  <complexType name="TankanlageType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="Bauart" type="string"/>
          <element name="Inhalt" type="idmvu-basis:KeyValuePropertyType"/>
          <element name="Volumen" type="idmvu-typen:Liter"/>
          <element minOccurs="0" name="Standortbeschreibung" type="string"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TankanlagePropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Tankanlage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TechnischeAnlage" substitutionGroup="gml:AbstractFeature" type="idmvu:TechnischeAnlageType"/>
  <complexType name="TechnischeAnlageType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Bezeichnung" type="string"/>
          <element minOccurs="0" name="Anlagenklasse" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="NutzungsdauerTechnisch" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="NutzungsdauerWirtschaftlich" type="idmvu-typen:Jahre"/>
          <element minOccurs="0" name="Baujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EinAufbaudatum" type="date"/>
          <element minOccurs="0" name="EinAufbaujahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Inbetriebnahmejahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="EndeHerstellergarantie" type="date"/>
          <element minOccurs="0" name="EndeHändlergarantie" type="date"/>
          <element minOccurs="0" name="EndeGewährleistungsfrist" type="date"/>
          <element minOccurs="0" name="LetztesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="NächstesUntersuchungsdatum" type="date"/>
          <element minOccurs="0" name="VorgabenUntersuchungsintervall" type="string"/>
          <element minOccurs="0" name="Entsorgungsnachweis" type="idmvu-typen:URI"/>
          <element minOccurs="0" name="Störungsindikator" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Status" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="gehörtZuGruppierung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="inGebiet" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatMangelmeldung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustand" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatZustandsErfassungÄnderung" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verursachtLichtraumengstelle" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatOrganisationsbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zuKosten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatInstandhaltungsplan" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatFördermittelbindung" type="idmvu-basis:ObjectRefType"/>
          <element name="Art" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Beschreibung" type="string"/>
          <element minOccurs="0" name="GeoPunkt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="GeoLinie" type="gml:CurvePropertyType"/>
          <element minOccurs="0" name="GeoFläche" type="gml:SurfacePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TechnischeAnlagePropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:TechnischeAnlage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
