src/main/resources/lib/oklabi/schema/idmvu/4000/15_Kaufmaennische_Daten.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:idmvu="http://schema.idmvu.org/4000/idmvu" xmlns:idmvu-basis="http://schema.idmvu.org/4000/idmvu-basis" xmlns:idmvu-typen="http://schema.idmvu.org/4000/idmvu-typen" elementFormDefault="qualified" targetNamespace="http://schema.idmvu.org/4000/idmvu" version="4.000.0">
  <include schemaLocation="idmvu.xsd"/>
  <import namespace="http://schema.idmvu.org/4000/idmvu-basis" schemaLocation="idmvu-basis.xsd"/>
  <import namespace="http://schema.idmvu.org/4000/idmvu-typen" schemaLocation="idmvu-typen.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Fördermittelbindung" substitutionGroup="gml:AbstractFeature" type="idmvu:FördermittelbindungType"/>
  <complexType name="FördermittelbindungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="StartdatumMittelbindung" type="date"/>
          <element name="EnddatumMittelbindung" type="date"/>
          <element minOccurs="0" name="Projekttitel" type="string"/>
          <element minOccurs="0" name="AZ_Bewilligungsbescheid" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="vonInfrastrukturObjekt" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="vonFreierGruppierung" type="idmvu-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FördermittelbindungPropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Fördermittelbindung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Kosten" substitutionGroup="gml:AbstractFeature" type="idmvu:KostenType"/>
  <complexType name="KostenType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="string"/>
          <element minOccurs="0" name="GültigkeitVon" type="date"/>
          <element minOccurs="0" name="GültigkeitBis" type="date"/>
          <element minOccurs="0" name="Datenquelle" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Ersterfasser" type="string"/>
          <element minOccurs="0" name="Ersterfassungsdatum" type="date"/>
          <element minOccurs="0" name="letzerBearbeiter" type="string"/>
          <element minOccurs="0" name="letztesBearbeitungsdatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Genauigkeitsinfo" type="idmvu:GenauigkeitsinfoPropertyType"/>
          <element minOccurs="0" name="Eigentum" type="idmvu-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Annotation" type="idmvu:AnnotationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Fremdreferenz" type="idmvu:FremdreferenzPropertyType"/>
          <element minOccurs="0" name="hatNachfolgerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="hatVorgängerObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="istINSPIREKnoten" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezug" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRA" type="idmvu-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hatNetzbezugOKSTRAKommunal" type="idmvu-basis:ObjectRefType"/>
          <element name="Kostenkategorie" type="idmvu-basis:KeyValuePropertyType"/>
          <element name="Kosteneinheit" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Entstehungsjahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Bezugsjahr" type="idmvu-typen:Jahr"/>
          <element minOccurs="0" name="Bezugsdatum" type="date"/>
          <element minOccurs="0" name="Bezugszeitraum" type="string"/>
          <element name="Kostenwert" type="idmvu-typen:EURO"/>
          <element minOccurs="0" name="Schätzung" type="boolean"/>
          <element minOccurs="0" name="Leistungsbeschreibung" type="string"/>
          <element minOccurs="0" name="Kostenart" type="idmvu-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="zuInfrastrukturObjekt" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuObjektbauteil" type="idmvu-basis:ObjectRefType"/>
          <element minOccurs="0" name="zuGruppierung" type="idmvu-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KostenPropertyType">
    <sequence minOccurs="0">
      <element ref="idmvu:Kosten"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
