src/main/resources/lib/oklabi/schema/2018.2/S_Historisierung.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:okstra="http://www.okstra.de/okstra/2.018.2" xmlns:okstra-basis="http://www.okstra.de/okstra/2.018.2/okstra-basis" xmlns:okstra-typen="http://www.okstra.de/okstra/2.018.2/okstra-typen" elementFormDefault="qualified" targetNamespace="http://www.okstra.de/okstra/2.018.2" version="2.018.2">
  <include schemaLocation="okstra.xsd"/>
  <import namespace="http://www.okstra.de/okstra/2.018.2/okstra-basis" schemaLocation="okstra-basis.xsd"/>
  <import namespace="http://www.okstra.de/okstra/2.018.2/okstra-typen" schemaLocation="okstra-typen.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Ereignis" substitutionGroup="gml:AbstractFeature" type="okstra:EreignisType"/>
  <complexType name="EreignisType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremddatenbestand" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremdobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Objekt_ID" type="okstra:Objekt_IDPropertyType"/>
          <element minOccurs="0" name="Name" type="string"/>
          <element minOccurs="0" name="Erfassungsdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Systemdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Textfeld" type="string"/>
          <element minOccurs="0" name="Art_der_Erfassung" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Art_der_Erfassung_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="RFID" type="string"/>
          <element minOccurs="0" name="Migrationshinweise" type="string"/>
          <element minOccurs="0" name="unscharf" type="boolean"/>
          <element minOccurs="0" name="Datenerfassung_abgeschlossen" type="boolean"/>
          <element minOccurs="0" name="Bearbeiter" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Dokument" type="okstra-basis:ObjectRefType"/>
          <element name="Jahr_des_Ereignisses" type="okstra-typen:Jahr"/>
          <element name="laufende_Nummer" type="integer"/>
          <element name="Wirksamkeitsdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Beschreibung" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="in_Bauamt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Dokument_zur_Erlaeuterung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_identisches_Netzteil" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gehoert_zu_Projekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="erzeugt_historisches_Objekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="loescht_historisches_Objekt" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EreignisPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Ereignis"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="identisches_Netzteil" substitutionGroup="gml:AbstractFeature" type="okstra:identisches_NetzteilType"/>
  <complexType name="identisches_NetzteilType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremddatenbestand" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremdobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="mit_Veraenderungsart" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Teil_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="war_Teilkante" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="wurde_zu_Teilkante" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="identisches_NetzteilPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:identisches_Netzteil"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
