src/main/resources/lib/oklabi/schema/2018.2/S_Kreuzungen.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:okstra="http://www.okstra.de/okstra/2.018.2" xmlns:okstra-basis="http://www.okstra.de/okstra/2.018.2/okstra-basis" xmlns:okstra-typen="http://www.okstra.de/okstra/2.018.2/okstra-typen" elementFormDefault="qualified" targetNamespace="http://www.okstra.de/okstra/2.018.2" version="2.018.2">
  <include schemaLocation="okstra.xsd"/>
  <import namespace="http://www.okstra.de/okstra/2.018.2/okstra-basis" schemaLocation="okstra-basis.xsd"/>
  <import namespace="http://www.okstra.de/okstra/2.018.2/okstra-typen" schemaLocation="okstra-typen.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Bahnkreuzung" substitutionGroup="gml:AbstractFeature" type="okstra:BahnkreuzungType"/>
  <complexType name="BahnkreuzungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremddatenbestand" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremdobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Objekt_ID" type="okstra:Objekt_IDPropertyType"/>
          <element minOccurs="0" name="Name" type="string"/>
          <element minOccurs="0" name="Erfassungsdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Systemdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Textfeld" type="string"/>
          <element minOccurs="0" name="Art_der_Erfassung" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Art_der_Erfassung_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="RFID" type="string"/>
          <element minOccurs="0" name="Migrationshinweise" type="string"/>
          <element minOccurs="0" name="unscharf" type="boolean"/>
          <element minOccurs="0" name="Datenerfassung_abgeschlossen" type="boolean"/>
          <element minOccurs="0" name="Bearbeiter" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Dokument" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenpunkt" type="okstra:StrassenpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenelementpunkt" type="okstra:StrassenelementpunktPropertyType"/>
          <element minOccurs="0" name="Geometrie_Punktobjekt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="OpenLR_Punktobjekt" type="okstra:OpenLR_PointLocationReferencePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="TMC_Punktobjekt" type="okstra:TMC_PunktreferenzPropertyType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Bahnkreuzungsart" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="elektrifiziert" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Bahnkreuzungsstadium" type="okstra-basis:KeyValuePropertyType"/>
          <element name="Beruehrungsebene" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Bahnkreuzungslage" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Bahnkoerper" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Bahnkreuzung_Sicherungsart" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Gleisanzahl" type="okstra-typen:Anzahl"/>
          <element minOccurs="0" name="Bahnkilometer" type="okstra-typen:Kilometer"/>
          <element minOccurs="0" name="Streckenbezeichnung" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BahnkreuzungPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Bahnkreuzung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Berme_an_Tierwechsel" substitutionGroup="gml:AbstractFeature" type="okstra:Berme_an_TierwechselType"/>
  <complexType name="Berme_an_TierwechselType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremddatenbestand" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremdobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Objekt_ID" type="okstra:Objekt_IDPropertyType"/>
          <element minOccurs="0" name="Name" type="string"/>
          <element minOccurs="0" name="Erfassungsdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Systemdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Textfeld" type="string"/>
          <element minOccurs="0" name="Art_der_Erfassung" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Art_der_Erfassung_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="RFID" type="string"/>
          <element minOccurs="0" name="Migrationshinweise" type="string"/>
          <element minOccurs="0" name="unscharf" type="boolean"/>
          <element minOccurs="0" name="Datenerfassung_abgeschlossen" type="boolean"/>
          <element minOccurs="0" name="Bearbeiter" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Dokument" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Lage_im_Tierwechsel" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Breite" type="okstra-typen:Meter"/>
          <element minOccurs="0" name="Laenge" type="okstra-typen:Meter"/>
          <element minOccurs="0" name="Material" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Tierwechsel" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Berme_an_TierwechselPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Berme_an_Tierwechsel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Gewaesserkreuzung" substitutionGroup="gml:AbstractFeature" type="okstra:GewaesserkreuzungType"/>
  <complexType name="GewaesserkreuzungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremddatenbestand" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremdobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Objekt_ID" type="okstra:Objekt_IDPropertyType"/>
          <element minOccurs="0" name="Name" type="string"/>
          <element minOccurs="0" name="Erfassungsdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Systemdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Textfeld" type="string"/>
          <element minOccurs="0" name="Art_der_Erfassung" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Art_der_Erfassung_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="RFID" type="string"/>
          <element minOccurs="0" name="Migrationshinweise" type="string"/>
          <element minOccurs="0" name="unscharf" type="boolean"/>
          <element minOccurs="0" name="Datenerfassung_abgeschlossen" type="boolean"/>
          <element minOccurs="0" name="Bearbeiter" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Dokument" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenpunkt" type="okstra:StrassenpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenelementpunkt" type="okstra:StrassenelementpunktPropertyType"/>
          <element minOccurs="0" name="Geometrie_Punktobjekt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="OpenLR_Punktobjekt" type="okstra:OpenLR_PointLocationReferencePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="TMC_Punktobjekt" type="okstra:TMC_PunktreferenzPropertyType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Gewaesserart" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Gewaessername" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GewaesserkreuzungPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Gewaesserkreuzung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Kreuzung_Strasse_Weg" substitutionGroup="gml:AbstractFeature" type="okstra:Kreuzung_Strasse_WegType"/>
  <complexType name="Kreuzung_Strasse_WegType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremddatenbestand" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremdobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Objekt_ID" type="okstra:Objekt_IDPropertyType"/>
          <element minOccurs="0" name="Name" type="string"/>
          <element minOccurs="0" name="Erfassungsdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Systemdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Textfeld" type="string"/>
          <element minOccurs="0" name="Art_der_Erfassung" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Art_der_Erfassung_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="RFID" type="string"/>
          <element minOccurs="0" name="Migrationshinweise" type="string"/>
          <element minOccurs="0" name="unscharf" type="boolean"/>
          <element minOccurs="0" name="Datenerfassung_abgeschlossen" type="boolean"/>
          <element minOccurs="0" name="Bearbeiter" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Dokument" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenpunkt" type="okstra:StrassenpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenelementpunkt" type="okstra:StrassenelementpunktPropertyType"/>
          <element minOccurs="0" name="Geometrie_Punktobjekt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="OpenLR_Punktobjekt" type="okstra:OpenLR_PointLocationReferencePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="TMC_Punktobjekt" type="okstra:TMC_PunktreferenzPropertyType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Beleuchtung" type="okstra-basis:KeyValuePropertyType"/>
          <element name="Kreuzungsart" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Bezeichnung" type="string"/>
          <element name="Kreuzungslage" type="okstra-basis:KeyValuePropertyType"/>
          <element name="Beruehrungsebene" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Hoehenlage_aufnehmende_Strasse" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Knotenpunktform" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Vorrangregelung" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Art_Fussgaengerquerung" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Kreisverkehr" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Teilbauwerk" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Beginn_von_Sondereinrichtung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Ende_von_Sondereinrichtung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Beginn_von_Anlage" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Ende_von_Anlage" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Ende_von_Betriebsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Beginn_von_Betriebsobjekt" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Kreuzung_Strasse_WegPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Kreuzung_Strasse_Weg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Kreuzung_sonst_Verkehrsanl" substitutionGroup="gml:AbstractFeature" type="okstra:Kreuzung_sonst_VerkehrsanlType"/>
  <complexType name="Kreuzung_sonst_VerkehrsanlType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremddatenbestand" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremdobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Objekt_ID" type="okstra:Objekt_IDPropertyType"/>
          <element minOccurs="0" name="Name" type="string"/>
          <element minOccurs="0" name="Erfassungsdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Systemdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Textfeld" type="string"/>
          <element minOccurs="0" name="Art_der_Erfassung" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Art_der_Erfassung_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="RFID" type="string"/>
          <element minOccurs="0" name="Migrationshinweise" type="string"/>
          <element minOccurs="0" name="unscharf" type="boolean"/>
          <element minOccurs="0" name="Datenerfassung_abgeschlossen" type="boolean"/>
          <element minOccurs="0" name="Bearbeiter" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Dokument" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenpunkt" type="okstra:StrassenpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenelementpunkt" type="okstra:StrassenelementpunktPropertyType"/>
          <element minOccurs="0" name="Geometrie_Punktobjekt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="OpenLR_Punktobjekt" type="okstra:OpenLR_PointLocationReferencePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="TMC_Punktobjekt" type="okstra:TMC_PunktreferenzPropertyType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Verkehrsanlagenart" type="okstra-basis:KeyValuePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Kreuzung_sonst_VerkehrsanlPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Kreuzung_sonst_Verkehrsanl"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Tierwechsel" substitutionGroup="gml:AbstractFeature" type="okstra:TierwechselType"/>
  <complexType name="TierwechselType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremddatenbestand" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenziert_Fremdobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Objekt_ID" type="okstra:Objekt_IDPropertyType"/>
          <element minOccurs="0" name="Name" type="string"/>
          <element minOccurs="0" name="Erfassungsdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Systemdatum" type="okstra:ASB_DatumPropertyType"/>
          <element minOccurs="0" name="Textfeld" type="string"/>
          <element minOccurs="0" name="Art_der_Erfassung" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Art_der_Erfassung_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="RFID" type="string"/>
          <element minOccurs="0" name="Migrationshinweise" type="string"/>
          <element minOccurs="0" name="unscharf" type="boolean"/>
          <element minOccurs="0" name="Datenerfassung_abgeschlossen" type="boolean"/>
          <element minOccurs="0" name="Bearbeiter" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Dokument" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenpunkt" type="okstra:StrassenpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenelementpunkt" type="okstra:StrassenelementpunktPropertyType"/>
          <element minOccurs="0" name="Geometrie_Punktobjekt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="OpenLR_Punktobjekt" type="okstra:OpenLR_PointLocationReferencePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="TMC_Punktobjekt" type="okstra:TMC_PunktreferenzPropertyType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Art" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Tierart" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Leiteinrichtung" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="LichteHoehe" type="okstra-typen:Meter"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zugehoeriges_Teilbauwerk" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zugehoeriger_Durchlass" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Berme" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TierwechselPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Tierwechsel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
